In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

# Step 2: Data Preparation and Cleaning
# Load the dataset into a DataFrame
df = pd.read_csv('phone_usage_india.csv')
print(df.shape)

(17686, 16)

In [3]:
# Explore the dataset: Number of rows, columns, and basic info
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17686 entries, 0 to 17685
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   User ID                       17686 non-null  object
 1   Age                           17686 non-null  int64
 2   Gender                        17686 non-null  object
 3   Location                      17686 non-null  object
 4   Phone Brand                   17686 non-null  object
 5   OS                            17686 non-null  object
 6   Screen Time (hrs/day)         17686 non-null  float64
 7   Data Usage (GB/month)         17686 non-null  float64
 8   Calls Duration (mins/day)     17686 non-null  float64
 9   Number of Apps Installed      17686 non-null  int64
 10  Social Media Time (hrs/day)   17686 non-null  float64
 11  E-commerce Spend (INR/month)  17686 non-null  int64
 12  Streaming Time (hrs/day)      17686 non-null  float64
 13  Gaming Time (hrs/day)         17686 non-null  float64
 14  Monthly Recharge Cost (INR)   17686 non-null  int64
 15  Primary Use                   17686 non-null  object
dtypes: float64(6), int64(4), object(6)
memory usage: 2.2+ MB
None

In [7]:
print("\nNumber of rows and columns:", df.shape)
print(df.isnull().sum())

Number of rows and columns: (17686, 16)
User ID                         0
Age                             0
Gender                          0
Location                        0
Phone Brand                     0
OS                              0
Screen Time (hrs/day)           0
Data Usage (GB/month)           0
Calls Duration (mins/day)       0
Number of Apps Installed        0
Social Media Time (hrs/day)     0
E-commerce Spend (INR/month)    0
Streaming Time (hrs/day)        0
Gaming Time (hrs/day)           0
Monthly Recharge Cost (INR)     0
Primary Use                     0
dtype: int64

In [8]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
df_numeric = df[numeric_columns]

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the numeric data
df_scaled = scaler.fit_transform(df_numeric)

# Convert the result back to a DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=numeric_columns)

# If needed, merge back with the original categorical columns
df_final = pd.concat([df.drop(columns=numeric_columns), df_scaled], axis=1)

In [9]:
print(df_final.head(10))

  User ID  Gender   Location Phone Brand       OS    Primary Use       Age  \
0  U00001    Male     Mumbai        Vivo  Android      Education  1.155788
1  U00002   Other      Delhi      Realme      iOS         Gaming  1.680609
2  U00003  Female  Ahmedabad       Nokia  Android  Entertainment -0.043804
3  U00004    Male       Pune     Samsung  Android  Entertainment -0.418676
4  U00005    Male     Mumbai      Xiaomi      iOS   Social Media -1.618267
5  U00006    Male     Jaipur        Oppo      iOS  Entertainment -1.243395
6  U00007  Female    Lucknow       Apple      iOS   Social Media  1.455686
7  U00008   Other    Kolkata      Realme      iOS  Entertainment  1.380711
8  U00009  Female    Kolkata        Oppo  Android  Entertainment  0.630967
9  U00010   Other    Kolkata       Apple      iOS      Education  0.481018

   Screen Time (hrs/day)  Data Usage (GB/month)  Calls Duration (mins/day)  \
0              -0.897178              -0.107016                  -1.336606
1               0.836423               0.190397                  -1.621577
2              -0.645018              -0.928443                  -0.996289
3               1.403783               0.013365                   0.056454
4              -1.369978              -1.622407                   0.998507
5              -0.361338              -1.048825                   0.697050
6              -0.172218               0.693167                   0.036436
7              -1.086298               1.280912                  -0.307413
8              -0.392858               1.486269                  -1.532082
9               1.057063              -1.048825                   0.339070

   Number of Apps Installed  Social Media Time (hrs/day)  \
0                 -0.010592                     0.407269
1                  1.166612                    -0.284477
2                 -0.155479                    -0.158705
3                  0.750063                     1.224788
4                 -0.336588                     1.413446
5                 -1.441349                     0.595928
6                  0.333514                    -1.542198
7                  1.510718                    -0.598907
8                  1.619384                     0.281497
9                 -0.372809                     0.973244

   E-commerce Spend (INR/month)  Streaming Time (hrs/day)  \
0                     -1.604273                  0.440422
1                     -0.027410                  0.394032
2                     -0.938424                 -1.183239
3                     -1.354928                 -0.487384
4                     -1.730687                 -0.394604
5                      0.421133                 -1.693532
6                     -0.843701                 -0.626555
7                      1.633729                  0.440422
8                     -0.768132                  0.857935
9                      1.433835                  1.553790

   Gaming Time (hrs/day)  Monthly Recharge Cost (INR)
0               1.112841                    -0.434011
1              -1.446009                     0.874618
2               0.282944                     1.042948
3              -1.515167                     0.936158
4              -0.132005                    -0.544421
5               1.596948                     1.278248
6              -0.132005                     0.054688
7               1.735264                     0.168718
8               0.213786                     0.380488
9              -1.446009                    -1.583361

In [10]:

df_final.to_csv('new_phoneusage_data.csv', index=False)
df.describe()

,Age,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR)
count,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000
mean,37.584247,6.546376,25.411257,151.405846,104.584869,3.252369,5075.707848,4.250616,2.490874,1042.785367
std,13.338252,3.172677,14.122167,84.923353,55.217097,1.590223,2871.604841,2.155683,1.446003,552.502067
min,15.000000,1.000000,1.000000,5.000000,10.000000,0.500000,100.000000,0.500000,0.000000,100.000000
25%,26.000000,3.800000,13.200000,77.325000,57.000000,1.900000,2587.500000,2.400000,1.200000,561.000000
50%,38.000000,6.600000,25.300000,150.600000,104.000000,3.200000,5052.000000,4.200000,2.500000,1040.000000
75%,49.000000,9.300000,37.600000,223.900000,152.000000,4.600000,7606.000000,6.100000,3.700000,1521.750000
max,60.000000,12.000000,50.000000,300.000000,200.000000,6.000000,10000.000000,8.000000,5.000000,2000.000000

In [11]:
df.tail()

,User ID,Age,Gender,Location,Phone Brand,OS,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR),Primary Use
17681,U17682,27,Other,Mumbai,Apple,iOS,7.2,36.6,90.4,81,5.1,4007,3.8,3.3,1380,Entertainment
17682,U17683,40,Female,Chennai,Oppo,iOS,9.5,12.9,243.0,166,4.3,8550,3.4,0.7,222,Education
17683,U17684,34,Female,Ahmedabad,Realme,Android,1.1,48.9,74.7,70,5.3,5516,0.7,4.0,1612,Entertainment
17684,U17685,22,Male,Hyderabad,Vivo,Android,8.8,25.6,105.6,96,2.4,3614,6.6,0.8,1528,Work
17685,U17686,43,Other,Kolkata,Oppo,iOS,5.6,22.5,215.2,78,5.1,5332,0.8,3.6,1098,Gaming